---
const {href, src, id, name, height, width, new_page, text, animate, resize} = Astro.props
---

<a id={id ? id : ""} href={href} target={new_page ? "_blank": "_self"}>
  <div class={animate ? "icon icon-animate" : "icon"}>
    <img src={src} alt={name} width={width} height={height} class={resize ? "resize" : ""}/>
    <p>{text}</p>
  </div>
</a>

<style>
  .icon {
    display: flex;
    align-items: center;
  }

  .icon:hover {
    opacity: 0.5;
  }

  .icon-animate {
    transition: transform 0.05s linear, opacity 0.05s linear;
  }

  .icon-animate:hover {
    transform: rotate(10deg);
  }
  
  img {
    margin: 0.25rem;
  }

  p {
    color: var(--black);
    font-size: 1rem;
  }

	a {
		margin: 0;
	}

  a::after {
    position: unset;
  }

  @media screen and (max-width: 425px) {
    .resize {
      width: 20px;
      height: 20px;
    }
  }
</style>